<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>{{ site.siteTitle }}</title>
  <link href="{{site.siteBaseUrl}}"/>
  <author>
    <name>Adam Stokes</name>
  </author>
  <updated>{{updated}}</updated>
  <id>{{site.siteBaseUrl}}</id>
  {{#each posts}}
  <entry>
    <title>{{this.title}}</title>
    <link href="{{site.siteBaseUrl}}/{{this.permalink}}"/>
    <id>{{site.siteBaseUrl}}/{{this.permalink}}</id>
    <updated>{{this.date}}</updated>
    <summary>{{md this.md}}</summary>
  </entry>
  {{/each}}

</feed>
