doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title Adam Stokes
    link http://astokes.org
    atom:link(href='http://astokes.org/feed.xml' rel="self" type='application/rss+xml')
    description fetty wap
    if posts.length
      lastBuildDate= posts[0].date
    - each post in posts
      item
        title= post.title
        link http://astokes.org/#{post.permalink}
        description= post.body
        pubDate= post.date
        guid(isPermaLink='true') http://astokes.org/#{post.permalink}